--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
easyocr
python-multipart
fastapi
uvicorn
opencv-python-headless
bcrypt
certifi
chardet
click
colorama
cryptography
fasteners
future
httplib2
idna
importlib-metadata
Mako
MarkupSafe
more-itertools
oauthlib
paramiko
Pillow>=10.0.0
protobuf
PyJWT
PyNaCl
pyparsing
python-dateutil
pytz
PyYAML
reportlab
requests
six
urllib3
zipp